# Environment variables
.env

# Docker volumes / data
volumes/
data/

# Image exports
*.tar

# OS junk
.DS_Store

# Dependency folders
node_modules/
__pycache__/
*.pyc

# Docker volumes / heavy data
db_data/
jenkins_home/
jenkins_ansible/

# Ansible stuff (if not needed)

# jenkins_ansible/
